<h1>Should I take an umbrella?</h1>

<div>
<dl>
  <dt>User location</dt>
  <dd><%=@location%></dd>

  <dt>Latitude</dt>
  <dd><%=@lat%></dd>

  <dt>Longitude</dt>
  <dd><%=@lng%></dd>

  <dt>Current temperature</dt>
  <dd><%=@current_temp%></dd>

  <dt>Current summary</dt>
  <dd><%=@summary%></dd>

  <dt>Umbrella?</dt>
  <dd><%=@outcome%></dd> 
  </dl>
</div>

<p>
<a href="/umbrella">Go back</a>
</p>
